body{
    background: url("../images/what-the-hex.png");
}

/* Navigation Bar */
.navBar{
    background-color: white;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #dddddd;
    border-style: solid;
    width: 100%;
    height: 132px;
}

.navType{
    margin-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 40px 40px 40px 0px;
    color: #777777;
    float: right;
    position: relative;
}

.name{
    background-color: #4aaaa5;
    color: white;
    z-index: 1;
    margin-left:160px;
    padding: 37px 30px;
    font-family: "Georgia", Times, Times New Roman, serif;
    position: absolute;
    top: 0;
}

/* main content */
.main-content{
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;   
    width: 960px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

/* about me */
.heading2{
    color: #4aaaa5;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-size: 32px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 0px 0px 2px 0px;
    padding-right: 500px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 40px;
}

.para{
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   text-align: left;
    line-height: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    clear: right;
    padding-top: 1.5%;
}

img{
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 20px;
    float: left;
}

.color{
    color: #dddddd;
}

/* footer */
footer{
    background-color: #666666;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    left: 0;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 4px 0px 0px 0px;
    font-size: 2px;
}



/* Portfolio */
.main-space{
    width: 960px;
    height: 695px;
}


/* Contact Page */
.inputs {
    margin-left: 2%;
    margin-top:4%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    }
    
.submit{
    background-color: #4aaaa5;
    border: none;
    color: white;
    height: 30px;
    width: 60px;
}

.main-space2{
    width: 960px;
    height: 530px;
}

@media screen and (max-width: 980px){
    body{
        width: 100%;
    }

    .name{
        left: 25px;
        margin-left: 40px;
        /* text-align: center; */
        padding: 37px 30px;
    }

    .main-content{
        /* height: 850px;
        margin-bottom: 115px; */
        margin-left: 65px;
        margin-bottom: 100px;
        width: 650px;
        height: auto;
    }

    .heading2{
        padding-right: 200px;
    }

    .input{
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px;
        width: 600px;
    } 

    .submit{
        
        margin-bottom: 7px;
    }

    .main-space{
        height: 945px;
    }

    .main-space2{
        height: 510px;
    }
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }

    .main-content{
        width: 710px;
        height: auto;
        margin-bottom: 115px;
        right: 35px;
        /* margin-right: auto; */
        position: relative;
    }

    .name{
        /* left: 25px; */
        margin-left: 8px;
        /* text-align: center; */
        padding: 37px 30px;
    }

    img{
        width: 325px;
        height: auto;
    }

    .heading2{
        padding-right: 200px;
        margin-left: 3%;
        left: 8px;
    }

    .main-space{
        height: 945px;
    }

    .input{
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px;
        width: 600px;
    } 

    .inputs{
        margin-left: 30px;
    }

    .submit{
        margin-bottom: 7px;
    }

    .main-space2{
        width: 710px;
        height: 500px;
    }
} 


@media screen and (max-width: 640px){
    body{
        width: 100%;
    }

    .name{
        width: 100%x;
        text-align: center;
        padding: 10px 30px;
        position: static;
        margin-left: 0px;
        
    }
    
    .navBar{
        height: 70px;
    }

    .navType{
       margin-top: 0px;
       /* padding-right: 225px; */
       left: 225px;
       position: absolute;
       top: 60px;
       
    }

    .heading2{
        padding-right: 200px;
        margin-left: 3%;
        left: 15px;
    }

    .main-content{
        /* height: 1300px; */
        margin-bottom: 115px;
        /* margin-left:20px; */
        width: 535px;
        height: auto;
        position: absolute;
        margin-right: 20px;
    }

    img{
     clear: both;
     width: 475px;
     height: auto;
     margin-left: 3%;
     margin-bottom: 23px;
    }

    .para{
        left:4px;
        margin-left: 3%;
    }

    .main-space{
        width: 535px;
        height: 500px;
    }

    .input{
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px;
        width: 475px;
    } 
}

/* wanted to see what it looked like on my phone */
@media screen and (max-width: 375px){
    body{
        width: 100%;
    }

    .navType{
        margin: 0px 0px 0px 50px;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 10px;
        right: 30px;
     }

     .main-content{
        width: 340px;
        height: auto; 
        right: 20px;
        margin-left: 0px;
        margin-right: 0px;
        clear: right;
    }

    .heading2{
        padding-right: 200px;
        margin-left: 2%;
        left: 8px;
        position: relative;
        width: 300px;
    }

    img{
        clear: both;
        width: 285px;
        height: auto;
        margin-left: 3%;
        margin-bottom: 23px;
       }

       .main-space{
           height: 400px;
       }

       .input{
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px;
        width: 275px;
    }
    
    .main-space2{
        height: 500px;
    }
}



